name: generate ascii artwork
on:
    push:

jobs:
    ascii_job:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout Repo
              uses: actions/checkout@v4

<<<<<<< HEAD
=======

>>>>>>> c5da8786ad6a705f673c2bc1c1cb158f7e6e76e7
            - name: Executing shell script
              run: |
               chmod +x ascii-script.sh
               ./ascii-script.sh
<<<<<<< HEAD
=======
        

>>>>>>> c5da8786ad6a705f673c2bc1c1cb158f7e6e76e7
